$wrapper-width:                         100%;
$container-width:                       1024px;
$gutter-width:                          40px;
$maximum-columns:                       12;

/*screen size breakpoints for media queries*/
$xs-screen:                             640px;
$x-screen-landscape:                    640px;
$m-screen:                              768px;
$m-screen-landscape:                    1024px;
$l-screen:                              1366px;
$lg-screen:                             1920px;

/*colors*/
$primary-color:                         #CDBA72;/*doré-sable*/
$secondary-color:                       #875427;/*marron*/
$tertiary-color:                        #000000;/*noir*/
$quaternary-color:                      #FFFFFF;/*blanc*/

/*fonts*/
@include declare-font-face(Lato Sans Hairline, lato-hairline-webfont, normal);
@include declare-font-face(Roboto Medium, roboto-medium-webfont, normal);
@include declare-font-face(Helvetica Neue Thin, helvetica-neue-thin, normal);

$base-font-family:                      Helvetica Neue Thin, Helvetica, Arial, sans-serif;
$headings-font-family:                  Helvetica Neue Thin, Helvetica, Arial, sans-serif;
$nav-font-family:                       Helvetica Neue Thin, Helvetica, Arial, sans-serif;

$base-font-size:                        16px;
$h1-font-size:                          1.2em;
$h2-font-size:                          1.0em;
$h3-font-size:                          0.9em;
$h4-font-size:                          0.9em;

/*social bar*/
$social-bar-bg-color:                   darken($quaternary-color, 20%);
$social-bar-links-color:                $secondary-color;
$social-bar-links-color-hover:          $tertiary-color;
$social-bar-links-bg-color:             $secondary-color;
$social-bar-links-bg-color-hover:       lighten($tertiary-color, 30%);
$social-bar-font-size:                  1.7em;

/*nav bar*/
$nav-bar-bg-color:                      $quaternary-color;
$nav-bar-links-color:                   darken($primary-color, 20%);
$nav-bar-links-color-hover:             $primary-color;
$nav-bar-links-bg-color:                none;
$nav-bar-links-bg-color-hover:          none;
$nav-bar-font-size:                     1em;

/*header*/
$header-bg-color:                       $quaternary-color;

/*main-content*/
$main-content-bg-color:                 darken($primary-color,15%);

/*footer*/
$footer-bg-color:                       $quaternary-color;

/*optional files*/
$use-slider:                            false;