* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin:0;
    padding: 0;
}

html{
    font-size: $base-font-size;
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

figure{
    margin:0;
}

a {
    outline: 0px;
}

.wrapper{
    max-width: $wrapper-width;
    margin: auto;
}

.container{
    max-width: $container-width;
    margin: auto;
}

h1, h2, h3, h4 {
    font-family: $headings-font-family;
}

h1 {
    font-size: $h1-font-size;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

p, li, span{
    font-family: $base-font-family;
    margin:0;
}

/*.social-bar{
    background-color: $social-bar-bg-color;
    a{
        color: $social-bar-links-color;
        background: $social-bar-links-bg-color;
        font-size: $social-bar-font-size;
        &:hover {
            color: $social-bar-links-color-hover;
            background: $social-bar-links-bg-color-hover;
        }
    }
}
*/
nav{

}

nav li
{
   display: inline-block; 
}

footer{
    background-color: lighten($tertiary-color, 40%);
    color: $quaternary-color;
    padding: 10px;
}



/*
#main-header{
    background-color: $header-bg-color;
}

#main-footer{
    background-color: $footer-bg-color;
}
*/
.wrapper:before, .wrapper:after, .container:before, .container:after, .row:before, .row:after{
    display: table;
    content: "";
    clear: both;
}

.row .row{
    margin-left: -$gutter-width/2;
    margin-right: -$gutter-width/2;
}

.clearfix{
    clear: both;
    overflow: hidden;
    zoom: 1;
}
@function columns($columns, $container-columns: $maximum-columns){
    $column-width: 100% / $container-columns;
    $width: $columns * $column-width;
    @return $width;
}

/*GRILLE*/

[class*="col-lg-"]{
    float: left;
    padding-left: $gutter-width/2;
    padding-right: $gutter-width/2;
    position: relative;
}

@for $i from 1 through $maximum-columns {
    .col-lg-#{$i} {
        width: columns($i);
    }
}

@for $i from 0 through $maximum-columns {
    .col-lg-offset-#{$i} {
        margin-left: columns($i);
    }
}

/*GRILLE LAPTOP*/

@media all and (max-width: $l-screen){
    @for $i from 1 through $maximum-columns {
        .col-md-#{$i} {
            width: columns($i);
        }
    }

    @for $i from 0 through $maximum-columns {
        .col-md-offset-#{$i} {
            margin-left: columns($i);
        }
    }
}

/*GRILLE TABLET*/

@media all and (max-width: $m-screen){
    @for $i from 1 through $maximum-columns {
        .col-sm-#{$i} {
            width: columns($i);
        }
    }

    @for $i from 0 through $maximum-columns {
        .col-sm-offset-#{$i} {
            margin-left: columns($i);
        }
    }
}

/*GRILLE TABLET LANDSCAPE*/

@media all and (max-width: $m-screen-landscape) and (orientation: landscape){
    @for $i from 1 through $maximum-columns {
        .col-sml-#{$i} {
            width: columns($i);
        }
    }

    @for $i from 0 through $maximum-columns {
        .col-sml-offset-#{$i} {
            margin-left: columns($i);
        }
    }
}

/*GRILLE PHONE*/

@media all and (max-width: $xs-screen){
    @for $i from 1 through $maximum-columns {
        .col-xs-#{$i} {
            width: columns($i);
        }
    }

    @for $i from 0 through $maximum-columns {
        .col-xs-offset-#{$i} {
            margin-left: columns($i);
        }
    }
}

/*GRILLE PHONE LANDSCAPE*/

@media all and (max-width: $x-screen-landscape) and (orientation: landscape){
    @for $i from 1 through $maximum-columns {
        .col-xsl-#{$i} {
            width: columns($i);
        }
    }

    @for $i from 0 through $maximum-columns {
        .col-xsl-offset-#{$i} {
            margin-left: columns($i);
        }
    }
}