/** {
	background: rgba(0,0,0,0.2);
}

.alert {
	position: fixed;
	width: 100%;
	padding: 1.5em;
	bottom: 0;
	left: 0;
	display: none;
	background: $tertiary-color;
	.successMsg {
		color: $primary-color;
	}
}

.error {
	display: none;
	color: red;
}


#main-content{
	background: $main-content-bg-color;
	.galerie figure {
		padding-left: 0;
		padding-right: 0;
		background: $quaternary-color;
	}
	.galerie figcaption{
		padding-left: $gutter-width/2;
		padding-right: $gutter-width/2;
		background: $quaternary-color;
		color: $primary-color;
	}
	h1{
		color: $secondary-color;
	}
	.bandeau{
		background-color: $secondary-color;
		font-size: $base-font-size*1.5;
		color: $primary-color;

		h1,h2{
			color: $primary-color;
		}
	}

}

#main-footer p{
	color: $primary-color;
}
*/

/*HEADER*/
#user-bar{
	font-size: 12px;
	color: $quaternary-color;
}
#user-bar ul{
	text-align: right;
}

#user-bar ul li{
	margin-left: -0.5em;/*delete white-space*/
}

#user-bar ul li a{
	text-transform: none !important;
	color: $quaternary-color;
}
#user-bar ul li a:hover{
	color: $quaternary-color;
	background-color: darken($primary-color, 30%);
}

.btn_login{
	padding: 5px 20px;
	background-color: #875427;
}

.btn_logout{
	padding: 5px 20px;
	background-color: #875427;
}
.btn_inscription{
	padding: 5px 20px;
	background-color: #c78629;
}
.btn_admin{
	padding: 5px 20px;
	background-color: #c78629;
}

.btn_cart{
	padding: 5px 20px;
	background-color: $primary-color;
}

#user-bar ul li span{
	color: #fff;
    display: inline-block;
    position: relative;
    top: initial;
    right: initial;
    line-height: 0.4em;
    margin-right: 5px;
}

#titre_magasin{
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	display: block;
	margin: 20px 0px;
}

#first-menu{
	font-size: 14px;
	font-weight: lighter;
}

#first-menu ul{
	margin: 0;
}
#first-menu ul li a{
	color: lighten($tertiary-color, 30%);
	padding: .2em 1.5em;
}
#first-menu ul li a:hover{
	text-decoration: underline;
}

#second-menu{
	background-color: $primary-color;
	color: $quaternary-color;
	text-transform : uppercase;
	font-size: 16px;
	font-weight: lighter;
	padding: 10px 0px;
}
#second-menu ul li{
	margin-left: -0.25em;/*delete white-space*/
	display: inline-block !important;
}

#second-menu ul li a{
	color: $quaternary-color;
	border-right: solid 1px #fff;
    line-height: 1.5em;
    padding: 5px 20px 0px 20px;
}
#second-menu ul li a:hover{
	text-decoration: underline;
}

#second-menu ul li:last-child a{
	border-right: none;
}


/*HOME*/
#logo{
    width: 50px;
    height: 50px;
}

.photo-galery{
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 1px solid black;
	padding: 10px;
}

#intro h1, #intro p{
	text-align: center;
}
#intro h1, #story h1{
	margin-bottom: 5px;
}

#intro p{
	font-size: 16px;
	margin-top: 20px;
}	


hr{
	width:222px;
	height: 4px;
	background-color: $primary-color;
  	border: 0;
  	margin-bottom: 0px !important;
  	margin-top: 0px !important;
}

#galery{
	text-align: center;
	margin: 30px auto;
}

.galery-section{
	width: 200px;
}

#galery div{
	display: inline-block;
	/*width: 220px;*/
}

#galery form{
	font-size: 10px;
	text-align: center;
	margin-left: 10px;
	width: 200px;
}

#galery form button{
	margin-top: 10px;
	padding: 5px 10px;
	font-size: 10px;
	text-align: center;
	color: #fff;
	background-color: $primary-color;
	border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#galery form button:hover{
	background-color: darken($primary-color, 30%);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



#presentation-text p{
	text-align: center;
	margin-bottom: 30px;
}


/**/
#opening-hours{
	background-color: $secondary-color;
	padding: 10px;
}

.dot{
	border: dotted 1px #fff;
}

#opening-hours p{
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding: 20px 20px;
	color: $quaternary-color;
}

/*FIN HOME*/


/*STORY*/
.story-section{
	margin: 20px 0px 30px 0px;
}

/*CONTACT*/
#contact-form input,#contact-form textarea,#connect-form input,#chart-form input,#chart-form textarea{
    width: 100%;
}
#contact-form input,#contact-form textarea,#connect-form input,#register-form input,#chart-form input,#chart-form  button,#chart-form textarea{
    outline: none;
    padding: 10px 10px;
    margin: 10px 0;
    font-family: $base-font-family;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#contact-form textarea,#chart-form textarea{
    border-color: #e1e2e1;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255,255,255);
    background-image: none;
    color: rgb(0, 0, 0);
}

#contact-form .btn,#connect-form .btn{
	width: 220px;
	float: right;
}
#contact-form p{
	margin: 0;
}
.btn{
    font-size: 20px;
    color: #FFF;
    background-color: $primary-color;
    border-color: $primary-color;
    font-weight: normal;
    padding: 20px 30px;
    text-transform: uppercase;
    margin-top:10px;
    margin-bottom:10px;
}
.btn2{
    font-size: 20px;
    color: #FFF;
    background-color: $secondary-color;
    border-color: $secondary-color;
    font-weight: normal;
    padding: 10px 10px;
    text-transform: uppercase;
    margin-top:10px;
    margin-bottom:10px;
}
.contact-details h1{
	text-align: left;
}
.contact-details{
	display: table;
	font-size: 16px;
	width: 100%;
}
.contact-details p:first-child{
	margin-bottom: 30px;
}
.contact-details p{
	display: inline-block;
}
.contact-details p span.details,.contact-details p span.dtl{
	display: block;
}
.contact-details,.social-network{
	margin-bottom: 40px;
}
.contact-details p span.details{
	display: block;
	margin-right: 40px;
	text-transform: uppercase;
	font-weight: bold;
}
.contact-details p span:first-child{
	height: 60px;
	margin-top: 0;
}
.contact-details p span{
	margin-top: 20px;
}

.social-network{
	text-align: center;
}
.social-network img{
	width: 63px;
	height: 63px;
	display: inline-block;
	margin-right: 10px;
}
span#dt {
    display: block;
    margin-top: 0;
    height: 18px;
    margin-bottom: 3px;
}
/*FIN CONTACT*/



/*FORMULAIRE DE CONNEXION*/
#connect-form,#register-form,#chart-form{
	width: 80%;
	margin: auto;
}
#connect-form > div + div {
    padding-right: 0;
    margin-left: -20px;
}
#connect-form div:first-child {
    padding-left: 0;
}
/*FIN FORMULAIRE DE CONNEXION*/

/*FORMULAIRE D'INSCRIPTION*/
#register-form .column{
	padding-right: 0;
}
#register-form .column2{
    margin-left: -10px;
}
#register-form input{
	width: 98%;
}
#register-form input[type="submit"]{
	max-width: 220px;
	float: right;
}
#register-form input[type="checkbox"],#chart-form input[type="checkbox"]{
	max-width: 30px;
	display: inline-block;
}
#register-form div p{
	display: inline;
}
#register-form div span{
	color: #ff0000;
	margin-top: -10px;
}
#register-form .required{
	display: block;
}

input[type="checkbox"]{
	display: inline-block;
}
/*FIN FORMULAIRE D'INSCRIPTION*/


/*PANIER*/
#chart-form button{
	float: right;
	display: inline-block;
}

#chart-form img{
	width: 140px;
	border: 1px solid black;
	padding: 5px;
	display: block;
	margin-bottom: 5px;
}

.gift{
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: -10px;
}
.gift-msg{
	width: 75%;
}
.gift-lab{
	margin-top: 20px;
}
.chart-infos{
    margin-top: 20px;
}
#chart-form input[type="checkbox"]{
	margin-left: 10px;
}
.chart-infos p span:first-child {
}
.chart-infos p span:last-child {
    text-align: right;
}
.chart-com{
	margin-top: 20px;
}
/*FIN PANIER*/


/*Category page*/

.product-section{
	width: 310px;
	height: 260px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.product-photo{
	width: 300px;
	height: 250px;
	margin: 10px;
	padding: 10px;
	border: dotted 1px $tertiary-color;
}


/*Category ADMIN page*/
.product-photo-admin{
	width: 300px;
	height: 250px;
	margin: 10px;
	padding: 10px;
	border: dotted 1px $tertiary-color;
	background-color: $quaternary-color;
}

.product-photo-img-admin{
	width: 278px;
	height: 228px;
	line-height: 228px;
	background-color: darken($quaternary-color, 30%);
}
.product-photo-img-admin p{
    font-size: 80px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: $quaternary-color;
}
/*Fin Category ADMIN page*/



.product-section:hover{
	cursor: pointer;
}

.product-section:hover .product-infos{
	bottom: 0px !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.product-infos{
	position: absolute;
	background-color: $primary-color;
	width: 300px;
    height: 100px;
	right: 0px;
	bottom: -110px;
	text-align: center;
	padding: 10px 0px;
	color: $quaternary-color;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#product-name{
	font-size: 20px;
	font-weight: bold;
}

.product-type{
	font-size: 16px;
}

.product-price{
	font-size: 31px;
	font-weight: bold;
}

.product-price span{
	font-size: 18px;
}
.product-price span:hover{
	font-size: 18px;
	color: $secondary-color;
}

/*End category page*/

/*Product page*/

.product-picture{
	/*margin: 10px;*/
    max-width: 500px;
	border: 1px solid black;
	padding: 10px;
    margin-bottom: 35px;
}

.product-specs{
    bottom: 30px;
}

.product-specs li{
    list-style-type: none;
}

.product-spec{
    display: block;
    margin-bottom:15px; 
}

.price{
    background-color:$secondary-color;
    margin-bottom:15px; 
}
/*FIN product page*/

/*Liste-commande*/
.product{
	border: 1px black solid;
	padding: 10px;
}
.commande{
	border: 1px black solid;
	margin: 20px;
}
.filter-list li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}
.filter-list li img{
    margin-right:20px;
}
.dataproduct-list li{
    list-style-type: none;
    display: inline-block;
}
#nom-client{
    margin-right:20px;
}
#date-commande{
    margin-right:20px;
}
.data-product{
    margin-left: -20px;
}
.data-product ul li{
    list-style-type: none;
    display: inline-block;
}
.product-contents{
    margin: 15px;
}
#total-price{
    background-color: $primary-color;
    color: white;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 30px;
}
.productend li{
    list-style-type: none;
}
/*END Liste-commande*/

/*FOOTER*/

#footer-presentation, #footer-social, #footer-location{
	margin-bottom: 30px;
}


#footer-presentation h3, #footer-social h3, #footer-location h3{
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

#footer-presentation p, #footer-social p, #footer-location p{
	text-align: center;
	line-height: 1.5em;
	font-size: 12px;
}

#social-icons ul{
	font-size: 20px;
	text-align: center;
	padding: 0px;
}

#social-icons ul li{
	display: inline-block;
	list-style: none;
	padding: 5px;
}


#social-icons ul li a{
	color: $quaternary-color;
	text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#social-icons ul li a:hover{
	color: $primary-color;
	text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*CONFIG SITE*/

#config-site{
	
}

#config-site div{
	margin-bottom: 20px;
}
#config-site label,#config-site p{
	display: inline-block;
}
.theme label,.modules label,.cont label{
	margin-right: 20px;
}
#config-site div > p{
	margin-right: 30px;
}
#config-site .social-net >p{
	margin-bottom: 20px;
	display: block;
}
input#admin-active {
    font-family: $base-font-family;
    padding: 5px 0 0 5px;
}
.conf-bloc,#admin-card{
	display: table;
	border: 1px solid $primary-color;
}
.conf-bloc  h2{
	color: $primary-color;
	font-weight: bold;
	margin-bottom: 30px;
}
#admin-card>div {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:0;
}
p.name-of-admin {
    margin-top: 20px;
}
div#admin-card {
    width: 49%;
}
.space{
	max-width:20px;
	padding: 0;
}

/*FIN CONFIG SITE*/

/*Fin FOOTER*/

/*Page promotions*/
.old-product-price{
    text-decoration: line-through;
}

.product-infos li{
    list-style-type: none;
    display: inline-block;
    
}

.product-infos ul{
    padding-left: 0px;
    margin-top: 1px;
}

#promo-title{
    text-align: center;
}
/*Fin page promotions*/
