nav ul {
	padding-left: $gutter-width/2;
	li {
		list-style: none;
		display: inline-block;
	}
	a {
		text-decoration: none;
		text-transform: uppercase;
		transition: all .5s;
		display: block;
		padding: .2em .5em .2em 0;
	}
}

nav {
	position : relative;
	span {
		color: $primary-color;
		position: absolute;
		top: $gutter-width/2;
		right: $gutter-width/2;
		display: none;
	}
}

@media all and (max-width: $xs-screen) {
	nav li {
		display: block;
		width: 100%;	
		a{
			width: 100%;
		}
	}
	nav span {
		display: block;
	}
	/*nav ul {
		display: none;
	}*/
}